doctype 5
html(ng-app='soshace')
    head
        title= title
        meta(http-equiv='content-type', content='text/html; charset=utf-8')
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/style.css')
        script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
        script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js')
        script(type='text/javascript', src='/js/app.js')
        script(type='text/javascript', src='/js/controller.js')
    body
        div(ng-view)